#contact{
	color:#555;
}

.newtext{
font-family: Effra-Light;
  font-size:16px;
}

#contactpic{
	width: 121%;
	margin-top: 2.5%;
}

#contactbox{
	padding: 0;
}

#name1{
letter-spacing: 6px;
}

#infobox{

    margin-top: 7%;
    margin-left: 8%;
    padding-right: 0;
    line-height: 2;
    padding-top: 4.5%;
  font-family: CarrigRough-Regular;

        color: #808285;

  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
       line-height: 4;
        letter-spacing: 2px;
}

#number{
  display: inline-block;
  text-align: center;
   font-size: 24px;
   margin-right: 1%;
    letter-spacing: 2px;
}

#address{
  text-align: center;
  margin-bottom: -2%;
   margin-top:-2%;
 letter-spacing: 6px;
}
}

#dinero{
  display: inline-block;
   text-align: center;
    letter-spacing: 2px;
}

#zip{
    display: inline-block;
   text-align: center;
    font-size: 24px;
     letter-spacing: 2px;

}

.socialmedia{
  width:30px;
  text-align: center;
  margin: 0px 4px; 


  }

  #social{
    text-align: center;
        margin-top: 12px;
  }

  p{
    text-align: center;
    margin-bottom: -2%;
    letter-spacing: 2px;
  }


@media only screen and (max-width:1300px) and (orientation: landscape) {

#contactpic{
  width: 121%;
  margin-top: 2.5%;
}



}

@media only screen and (max-width:992px) and (orientation: landscape) {

#contactpic{
  width: 100%;
  margin-top: 2.5%;
}


}
@media only screen and (max-width:812px) and (orientation: landscape) {

#contactpic{
  width: 90%;
  margin-top: 0.8%;
  margin-left: 5%;
}
#infobox{
   margin-top: 7%;
    margin-left: 8%;
    padding-right: 0;
    line-height: 2.5;
    padding-top: 4.5%;


}

}

@media only screen and (max-width:770px) and (orientation: portrait) {

#contactpic{
  width: 90%;
  margin-top: 0.8%;
  margin-left: 5%;
}
#infobox{
 margin-top: 7%;
    margin-left: 8%;
    padding-right: 0;
    line-height: 2.5;
    padding-top: 4.5%;


}
 #social{
    margin-top: 10px;
  }

}


@media only screen and (max-width:550px) and (orientation: portrait) {

  #contact{
  color:#555;
}

#contactpic{
  width: 90%;
    margin-top: 1%;
  margin-left: 5%;
}

#contactbox{
  padding: 0;
}

#infobox{
  margin: 0;
  font-size: 14px;
  padding-top: 3%;

}

  #social{
    margin-top: 10px;
  }


}