#pic1{
	width:48.5%;
	margin-top: 3%;
	position: relative;
}

#pic2{
	width:48.5%;
	margin-top: 3%;
	margin-left: 2.8%;
	position: relative;
}
#beachhouse{
	width: 100%;
}

#dlhpic{
	width: 100%;
}

#pic3{
	width:48.5%;
	margin-top: 2.8%;
	position: relative;
}

#pic4{
	width:48.5%;
	margin-top: 2.8%;
	margin-left: 2.8%;
	position: relative;
}
#sb{
	width: 100%;
}

#montecito{
	width: 100%;
}

#pic5{
	width:48.5%;
	margin-top: 2.8%;
	position: relative;
}


#pasadena{
	width:100%;
}

.bottom-center {
    position: absolute;
    text-align: center;
    bottom: -1px;
    font-size: 12px; 
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    background-color: white;
    width:102%;
    margin-left: -1%;
    padding: 2% 0;
    opacity: 0.8;
    text-decoration: none;
    color:black;

}

.bottom-center:hover {
    position: absolute;
    text-align: center;
    bottom: -1px;
    font-size: 12px; 
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    background-color: white;
    width:102%;
    margin-left: -1%;
    padding: 2% 0;
    opacity: 0.8;
    text-decoration: none;
    color:black;

}


.links:hover{
text-decoration: none;
color:black;
}



.hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}

.thumbnail {
    padding: 0;
}

.slide{
	height:100%;
}

.long{
width:44.46%;
margin-left: 27.5%;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 100%;
}


#carousel-bounding-box{
	padding: 0;
}

.thumbnail{
	width:60px;
	height:40px;
	overflow-y: hidden;
	overflow-x: hidden;
	border-radius: 0px;
	border:white 1px solid;
}

.thumbnail:hover{
	width:60px;
	height:40px;
	overflow-y: hidden;
	overflow-x: hidden;
	border-radius: 0px;
	border:white 0px solid;
	text-decoration: none;
	cursor: pointer;
}
a:hover{
text-decoration: none;
}
a.left.carousel-control{
background: none;
}
a.right.carousel-control{
background: none;
}
.right{
background: none;
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

/*.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
*/

    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }

