#mobilephotos{
  display: none;
}

@font-face {
    font-family: Verdana;
    src: url("../assets/font/Verdana.woff") format("opentype");
}

@font-face {
    font-family: CarrigRough-Regular;
    src: url("../assets/font/CarrigRough-Regular.woff") format("opentype");
}

#dlhtitle {
width: 80%;
  margin-top: -13px;
    padding-top: 0;
    margin-bottom: -22px;
}


#design{display: inline-block;
font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 20px;
      /*  letter-spacing: 4px;*/
        color: #808285;
        margin-left: 6px;
        font-weight: lighter;
}

#title{
  text-decoration: none;
}

#dlh {
    text-align: left;
    margin-top: 0%;
    padding: 0;
    padding-top: 1%;
}

#dlh1 {
    text-align: left;
    margin-top: 0%;
    padding: 0;
    padding-top: 1%;
    border-bottom: 1px solid #E1E0E1;
    padding-bottom: 1%;
}

#dlh2 {
    margin-top: 3%;
}

#pic1{
	width:48.5%;
	margin-top: 0.8%;
	position: relative;
}

#pic2{
	width:48.5%;
margin-top: 0.8%;
	margin-left: 2.8%;
	position: relative;
}
#beachhouse{
	width: 100%;
}

#dlhpic{
	width: 100%;
}

#pic3{
	width:48.5%;
	margin-top: 2.8%;
	position: relative;
}

#pic4{
	width:48.5%;
	margin-top: 2.8%;
	margin-left: 2.8%;
	position: relative;
}
#sb{
	width: 100%;
}

#montecito{
	width: 100%;
}

#pic5{
	width:48.5%;
	margin-top: 2.8%;
	position: relative;
}

#port{
	 color:#555;
}

#pasadena{
	width:100%;
}

.bottom-center {
    position: absolute;
    text-align: center;
    bottom: -1px;
    font-size: 11px; 
     font-family: CarrigRough-Regular;
     letter-spacing: 2px;
    background-color: white;
    width:102%;
    margin-left: -1%;
    padding: 2% 0;
    opacity: 0.8;
    text-decoration: none;
     color:#555;

}

.bottom-center:hover {
    position: absolute;
    text-align: center;
    bottom: -1px;
      font-size: 11px; 
     font-family: CarrigRough-Regular;
    background-color: white;
    width:102%;
    margin-left: -1%;
    padding: 2% 0;
    opacity: 0.8;
    text-decoration: none;
    color:black;

}


.links:hover{
text-decoration: none;
color:black;
}



.hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}

.thumbnail {
    padding: 0;
}

.slide{
	height:100%;
}


.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 100%;
}


#carousel-bounding-box{
	padding: 0;
}

/*.item{
  margin-top: 3%;
  margin-bottom: 4.5%;
}*/


.thumbnail{
	width:64px;
	height:38px;
	overflow-y: hidden;
	overflow-x: hidden;
	border-radius: 0px;
	border:white 0px solid;
	display: inline-block;
	padding: 0 0.5%;
	margin-top: 2%;

	  
}

.thumbnail:hover{
	width:64px;
	height:38px;
	overflow-y: hidden;
	overflow-x: hidden;
	border-radius: 0px;
	border:none;
	text-decoration: none;
	cursor: pointer;
	display: inline-block;  
}

.thumbnaillast{
	width:64px;
	height:38px;
	overflow-y: hidden;
	overflow-x: hidden;
	border-radius: 0px;
	border:white 0px solid;
	display: inline-block;
	padding: 0 0 0 0.5%;
	margin-top: 2%;


	  
}

.thumbnaillast:hover{
		width:64px;
	height:38px;
	overflow-y: hidden;
	overflow-x: hidden;
	border-radius: 0px;
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
	padding: 0 0 0 0.5%; 
}
a{
	text-decoration: none;
	border:0px
	color:white;
}
a:hover{
text-decoration: none;
border:0px;
color: white;
}
a.left.carousel-control{
background: none;
}
a.right.carousel-control{
background: none;
}
.right{
background: none;
}

#main_area{
	margin-top: 0.8%;
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;

}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }

.carousel-inner > .item {
  transform: translate3d(0,0,0) !important;
}


.carousel-inner > .item {
  height: 740px;
}

.carousel-inner > .item > img {
/*  position: absolute;
  top: 50.4%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);*/
  position:sticky;
  max-height: 800px;
  width: auto;
    display: block;
  max-width: 100%;
  height: auto;
  text-align: center;
     margin-left: auto;
    margin-right: auto;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}

#left{
        margin-left: -48%;
}

#right{
    margin-right: -48%;
}

#slider-thumbs{
	float: right;
}

.footertext3{
    font-family: 'Karla', sans-serif;
    color: #808285;
    font-size: 11px;
    /*  letter-spacing: 4px;*/
    margin-top: 0%;
    margin-bottom: -0.5%;
    display: inline-block;
    margin: 2% 0% 0% 0%;
    font-size: 12px;
    padding-bottom: 0;
    padding-top: 0%;
}

.footertext2{
  font-size: 11px;
}

#email {
    text-decoration: none;
    margin-left: 1%;
    color: #808285;
}

#email:hover {
    text-decoration: underline;
    margin-left: 1%;
    color: #808285;
}

.footertext4 {
   font-family: 'Karla', sans-serif;
    color: #808285;
    font-size: 11px;
    /*  letter-spacing: 4px;*/
    margin-top: 0.5%;
    margin-bottom: -0.5%;
    display: inline-block;
    margin: -0.5% 0% 3% 0%;
    font-size: 10px;
}

#projectname{
	display: inline-block;
    color: #808285;
    float: left;
    margin-left: -1.2%;
    margin-top: 4.2%;
     font-size: 16px; 
     font-family: CarrigRough-Regular;
     letter-spacing: 2px;



}

@media only screen and (max-width:1200px) {
#menu{
  margin-left: -12%;
}

}

@media only screen and (max-width:1143px) {

#dlhd{
  text-align: center;
  margin-left: 0;

}

#menu{
  margin-left: -1.5%;

}

#dlh{
  text-align: center;
  margin-top: 1%;
}

.footertext{
  display: block;
  text-align: center;
}

#email{
  margin-top: 0.5%;
  padding-top: 0;
}
.footertext2{
  display: block;
  text-align: center;
  margin-top: 1%;
}

.socialmedia {
  text-align: center;
  float: none;

  }

  #copyright{
    display: block;
  }

  #social{
    display: block;
    margin: 0;
    float: none;
    text-align: center;
  }

#carouselbox{
  width: 90%;
}


}

@media only screen and (max-width:990px) {

#dlhd{
  text-align: center;
  margin-left: 0;

}

#menu{
  margin-left: -1.5%;

}

#dlh{
  text-align: center;
  margin-top: 2%;
}

.footertext{
  display: block;
  text-align: center;
}

#email{
  margin-top: 0.5%;
  padding-top: 0;
}
.footertext2{
  display: block;
  text-align: center;
  margin-top: 1%;
}
.footertext3{
  display: block;
  text-align: center;
}

.footertext4{
  display: block;
  text-align: center;
  margin-top: 1 %;
}
.footertext4{
  display: block;
  text-align: center;
}
#email{
  margin-top: 0.5%;
  padding-top: 0;
}
.footertext3{
  display: block;
  text-align: center;
  margin-top: 1%;
}


.socialmedia {
  text-align: center;
  float: none;

  }

  #copyright{
    display: block;
  }

  #social{
    display: block;
    margin: 0;
    float: none;
    text-align: center;
  }

#carouselbox{
  width: 90%;
}

.hor{
  margin-top: -17%;
}

#sbtext{
  margin-right: 3%;
}
}

@media only screen and (max-width:700px) and (orientation: portrait) {
  .carousel{
    display: none;
  }

  #projectname{
    float: none;
    text-align: center;
    display: block;
    margin-top: 1%;
  }

  #mobilephotos{
    display: block;

  }

  .mobile{
    width:90%;
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 1%;
  }

}

@media only screen and (max-width:550px) and (orientation: portrait) {
#pic1{
  width:90%;
  margin-top:4%;
  text-align: center;
  display: block;
  margin-left: 5%;
}

#pic2{
  width:90%;
  margin-top:4%;
  text-align: center;
  display: block;
  margin-left: 5%;
}
 #pic3{
  width:90%;
  margin-top:4%;
  text-align: center;
  display: block;
  margin-left: 5%;
}
  #pic4 {
  width:90%;
  margin-top:4%;
  text-align: center;
  display: block;
  margin-left: 5%;
}
  #pic5{
  width:90%;
   margin-top:4%;
  text-align: center;
  display: block;
  margin-left: 5%;
}
.footertext3{
  display: block;
  text-align: center;
  margin-top: 1%;
}

#beachhouse{
      margin-top: -3.5%;
}

#projectname{
  display: none;
}

#mobilephotos{
  margin-top: -3%;
  margin-bottom: 4%;
}

.footertext4{
  margin-top: 4%;
}
}