.thumbnail{
	width:64px;
	height:35px;
	overflow-y: hidden;
	overflow-x: hidden;
	border-radius: 0px;
	border:white 0px solid;
	display: inline-block;
	padding: 0 0.5%;
	margin-top: 2%;

	  
}

.thumbnail:hover{
	width:64px;
	height:35px;
	overflow-y: hidden;
	overflow-x: hidden;
	border-radius: 0px;
	border:white 0px solid;
	display: inline-block;
	padding: 0 0.5%;
	margin-top: 2%;

	  
}

/*.item1{
	margin-top:-0.7%;
	margin-bottom: -1%;
}

.item2{
	margin-top:2.5%;
	margin-bottom: 8%;
}*/
/*.item{
	margin-top: 4.5%;
	margin-bottom: 4.5%;
}
*/
.carousel-inner > .item {
  height: 660px;
}
.carousel-inner > .item > img {
/*  position: absolute;
  top: 50.4%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);*/
  position:sticky;
  max-height: 800px;
  width: auto;
    display: block;
  max-width: 100%;
  height: auto;
  text-align: center;
     margin-left: auto;
    margin-right: auto;
}

.first{
	margin-left: 10%;

}

#pub{
	color:#555;
}
#pub0{
	width:22%;
	margin-right: 3%;
	margin-bottom: 1.5%;

}
#pub1{
	width:22%;
	margin-right: 3%;
	margin-bottom: 1.5%;
}

#pub2{
	width:22%;
	margin-right: 3%;
}

#pub3{
	width:22%;
	margin-right: 3%;
}


#pub4{
	width:22%;
	margin-right: 3%;
	margin-left: 12%;
}

#pub5{
	width:22%;
		margin-bottom: 0.3%;
	margin-right: 3%;

}

#pub6{
	width:22%;
	margin-bottom: 0.3%;
}

#ca{
	width:100%;
	margin-top: 4%;
	margin-left: 5%;
}

#food{
	width:100%;
	margin-top: 4%;
	margin-left: 8%;
}

#huff{
	width:100%;
	margin-top: 3%;
	margin-left: 10%;
}

#house{
	width:100%;
	margin-top: 7%;
}

#hb{
	width:100%;
	margin-top: 4%;

}

@media only screen and (max-width:550px) and (orientation: portrait) {
#pub1{
	width:46%;
	margin-right: 2.6%;
	margin-bottom: 0%;
	margin-left: 2%;
	margin-top: 2%;
}
#pub0{
	width:46%;
	margin-right: 2.6%;
	margin-bottom: 0%;
	margin-left: 2%;
	margin-top: 2%;
}
#pub2{
	margin-top: 2%;
	width:46%;
	margin-right: 2.6%;
		margin-bottom: 0%;
}

#pub3{
	width:46%;
	margin-right: 2.6%;
		margin-bottom: -%;
		margin-top: 0%;
		margin-left: 2%;
}


#pub4{
	width:46%;
		margin-bottom: 8%;
		margin-top: 0%;
}

#ca{
	width:100%;
	margin-top: 10%;
}

#food{
	width:100%;
	margin-top: 10%;
}

#huff{
	width:100%;
}

#house{
	width:100%;
	margin-top: 10%;
}

#hb{
	width:100%;
	margin-top: 10%;
}

}

@media only screen and (max-width:770px) and (orientation: portrait) {

	#ca{
		margin-top: -0.5%;
	}
  .carousel{
    display: none;
  }

  #projectname{
    float: none;
    text-align: center;
    display: block;
    margin-top: 1%;
    display: none;
  }

  #mobilephotos{
    display: block;

  }

  .mobile{
    width:90%;
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 1%;
  }

  #pub0{
  	width:90%;
  	margin-left: 5%;
  	 margin-bottom: 1%;
  	 margin-top: 1%;
  }
  #pub1{
  	width:90%;
  	margin-left: 5%;
  	 margin-bottom: 1%;
  	 margin-top: 1%;
  }
   #pub2{
  	width:90%;
  	margin-left: 5%;
  	 margin-bottom: 1%;
  	 margin-top: 1%;
  }

 #pub3{
  	width:90%;
  	margin-left: 5%;
  	 margin-bottom: 1%;
  	 margin-top: 1%;
  }

 #pub4{
  	width:90%;
  	margin-left: 5%;
  	 margin-bottom: 1%;
  	 margin-top: 1%;
  }

 #pub5{
  	width:90%;
  	margin-left: 5%;
  	 margin-bottom: 1%;
  	 margin-top: 1%;
  }

 #pub6{
  	width:90%;
  	margin-left: 5%;
  	 margin-bottom: 1%;
  	 margin-top: 1%;
  }

#food{
	margin-top: 3%;
}

#huff{
	margin-top: 3%;
}
#house{
	margin-top: 3%;
}

#hb{
	margin-top: 3%;
}

#ca{
	margin-top: 3%;
}
}
/*
@media only screen and (max-width:420px) and (orientation: portrait) {
	#pub1{
	width:90%;
	margin-bottom: 2%;
	margin-left: 5%;
	margin-top: 3%;
}

#pub2{
	width:90%;
	margin-bottom: 2%;
	margin-left: 5%;
	margin-top: 2%;
}

#pub3{
width:90%;
	margin-bottom: 2%;
	margin-left: 5%;
	margin-top: 2%;
}


#pub4{
width:90%;
	margin-bottom: 2%;
	margin-left: 5%;
	margin-top: 2%;
}

#ca{
	width:100%;
	margin-top: 0%;
}

#food{
	width:100%;
	margin-top: 0%;
}

#huff{
	width:100%;
	margin-top: 0%;
}

#house{
	width:100%;
	margin-top: 0%;
}

}*/