
#dlhtitle {
width: 69%;
  margin-top: -11px;
    padding-top: 0;
    margin-bottom: 0px;
}

@font-face {
    font-family: CarrigRough-Regular;
    src: url("../assets/font/CarrigRough-Regular.woff") format("opentype");
}

@font-face {
    font-family: Verdana;
    src: url("../assets/font/Verdana.woff") format("opentype");
}


#design{display: inline-block;
font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 20px;
      /*  letter-spacing: 4px;*/
        color: #808285;
        margin-left: 6px;
        font-weight: lighter;
}

#title{
  text-decoration: none;
}


#dlh {
    text-align: left;
    margin-top: 0%;
    padding: 0;
    padding-top: 1%;
}

#dlh1 {
    text-align: left;
    margin-top: 0%;
    padding: 0;
    padding-top: 1%;
    border-bottom: 1px solid #E1E0E1;
    padding-bottom: 1%;
}

#dlh2 {
    margin-top: 3%;
}


#dlhd {
    float: right;
    text-align: right;
    margin-top: 0.3%;
    padding: 0;
    margin-left: 8%;
}

.menuoption {
  font-family: CarrigRough-Regular;
    color: #808285;
    font-size: 11px;
    margin-top: 0.5%;
    margin-bottom: -0.5%;
    display: inline-block;
    margin: 4.3% 0% 0.5% 3%;
  letter-spacing: 2px;
    text-decoration: none;
}

.menuoption:hover {
    text-decoration: none;
     color:#555;
}

.menuoptionfirst {
   font-family: CarrigRough-Regular;
    color: #808285;
    font-size: 11px;
    margin-top: 0.5%;
    letter-spacing: 2px;
    margin-bottom: -0.5%;
    display: inline-block;
    margin: 5% 0% 0.5% 11%;
    text-decoration: none;
}

.menuoptionfirst:hover {
    text-decoration: none;
     color:#555;
}

.menuoptionlast {
  font-family: CarrigRough-Regular;
    color: #808285;
    letter-spacing: 2px;
    font-size: 11px;
    margin-top: 0.5%;
    margin-bottom: -0.5%;
    display: inline-block;
    margin: 0% 0% 0.5% 3%;
    text-decoration: none;
}

.menuoptionlast:hover {
    text-decoration: none;
     color:#555;
}

#slider1{
  padding: 0;
}

#carousel-bounding-box{
  padding:0;
      margin-top: 0%;
}

#carouselbox{
  padding:0;
  margin-top: 0.75%;
}.footertext {
   font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: #808285;
    font-size: 10px;
    /*  letter-spacing: 4px;*/
    margin-top: 3%;
    margin-bottom: -0.5%;
    display: inline-block;
    margin: 2% 0% 0% 0%;
    font-size: 12px;
    padding-bottom: 0;
    padding-top: 3%;
}


.footertext2 {
   font-family: CarrigRough-Regular;
    color: #808285;
    font-size: 11px;
    letter-spacing: 2px;
    /*  letter-spacing: 4px;*/
    margin-top: 0.5%;
    margin-bottom: -0.5%;
    display: inline-block;
    margin: 3% 0% 3% 0%;
    font-size: 11px;
}

.footertext4 {
   font-family: CarrigRough-Regular;
    color: #808285;
    font-size: 11px;
    letter-spacing: 2px;
    /*  letter-spacing: 4px;*/
    margin-top: 0.5%;
    margin-bottom: -0.5%;
    display: inline-block;
    margin: 0.5% 0% 3% 0%;
    font-size: 11px;
}
#footerrow{
      padding-left: 0;
}

a:hover{
text-decoration: none;
}
a.left.carousel-control{

background: none;
}
a.right.carousel-control{
background: none;
}
.right{
background: none;
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;

}

.carousel-control{
  opacity:0.7;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
#left{
        margin-left: -48%;
}
   #left1 {
    width: 18%;
    margin-top: 170%;
    margin-left: -82%;
    opacity: 1;
  }

#right{
    margin-right: -48%;
}

 #right1{
    width: 18%;
    margin-top: 170%;
    margin-right: -82%;
    opacity: 1;
  }

  @media only screen and (max-width:1200px) {
  #principal{
        margin-top: 3.2%;
  }
  .aboutmetext2{
    font-size: 12px;
  }

#menu{
  margin-left: -12%;
}

}

@media only screen and (max-width:1001px) and (orientation: portrait) {
      #dlh{
        margin-left: 12.5%;
        margin-top: 1%;
}

    #dlhd{float: center;
    text-align: center;
    margin-top: -3.7%;
    margin-left: -2%;
    margin-right: 0;
    padding: 0;
  
  }
}

@media only screen and (max-width:993px) {
      #dlh{
        margin-left: 12.5%;
        margin-top: 1%;
}

    #dlhd{float: center;
    text-align: center;
    margin-top: -3.7%;
    margin-left: -2%;
    margin-right: 0;
    padding: 0;
  
  }
  .footertext2{
  display: block;
  text-align: center;
}
}
@media only screen and (max-width:765px){
#dlhtitle{
  width:90%;
 margin:0;
    margin-top: 1%;
   
  }
  #dlh{
    margin:0;
     text-align: center;
  }
#menu{
  margin: 0;
  margin-left: 2.5%;
  text-align: center;

}

.menuoption{
  margin-left: 2%;
}

.menuoptionlast{
  margin-left: 2%;
  margin-bottom: 2%;
}

 .footertext2{
  display: block;
  text-align: center;
  margin-top: 5%;
}
#carouselbox{
  width:90%;
     margin-left: 5%;
}
}
/*@media only screen and (max-width:1143px) {

#dlhd{
  text-align: center;
  margin-left: 0;

}

#menu{
  margin-left: -1.5%;

}

#dlh{
  text-align: center;
  margin-top: 1%;
}

.footertext{
  display: block;
  text-align: center;
}

#email{
  margin-top: 0.5%;
  padding-top: 0;
}
.footertext2{
  display: block;
  text-align: center;
  margin-top: 1%;
}

.socialmedia {
  text-align: center;
  float: none;

  }

  #copyright{
    display: block;
  }

  #social{
    display: block;
    margin: 0;
    float: none;
    text-align: center;
  }

#carouselbox{
  width: 90%;
}
}*/